.App {
  text-align: center;
}

nav.primary-nav{
  padding: 20px;
  background-color: lightblue;
}
nav a{
  margin-right: 15px;
}
nav a.active{
  color: rgb(168, 42, 20);
  text-decoration: none;
}
.card-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media screen and (min-width: 992px) {
    .card-container{
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
    }
}
.card{
  background-color: cadetblue;
  padding: 10px;
}